# docker-compose.yml
version: '3.8'

services:

  tutorbot:
    build: .
    restart: unless-stopped
    env_file:
      - .env
    command: python modules/tutorBot.py
    volumes:
      # Сохраняем базу данных
      - ./database:/app/database
      # Сохраняем логи
      - ./logs:/app/logs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - proxy-network

  tutorweb:
    build: .
    env_file:
      - .env
    command: python app.py
    restart: unless-stopped
    expose:
      - "5000"
    volumes:
      - ./logs:/app/logs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      - proxy-network

networks:
  proxy-network:
    external: true