# docker-compose.yml
version: '3.8'

services:
  tutorbot:
    build: .
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      # Сохраняем базу данных
      - ./tutor_bot.db:/app/database/tutor_bot.db
      # Сохраняем логи
      - ./logs:/app/logs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"